/LudumDare32/nbproject/private/
/nbproject/private/
/build/
/quickID/nbproject/private/
/quickID/build/
/LudumDare32MapEditor/nbproject/private/
/LudumDare32MapEditor/build/
/Server/nbproject/private/
/Server/build/